<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/home.css">
    <title>Tech News</title>
</head>
<body>
    <section class="header">
        <h1>Tech News</h1>
        <p>Crie uma conta e crie novas notícias</p>
    </section>

    <section class="main">
        <form class="form" action="/cadastred" method="post">

            <h2 class="tittle-form">Crie uma conta</h2>

            <% if (error) { %> 
                <div>
                    <%= error %>
                </div>

            <% } %>
            <label for="">Digite seu e-mail:</label>
            <input type="email" name="email">
            <label for="">Crie uma senha:</label>
            <input type="password" name="password">
            <button class="btn-form" type="submit">Cadastrar</button>
        </form>
    </section>

    <footer class="footer">
        <p class="footer-description">Developed by <a href="https://www.linkedin.com/in/vinicius-soaresdev" target="_blank" class="link-footer">Vinicius Soares</a></p>
    </footer>
    
    
</body>
</html>