<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/create.css">
    <title>Tech News</title>
</head>
<body>
    <section class="header">
        
        <div class="tittle">

            <%= tittle %>

        </div>

    </section>

    <section class="main">

        <div class="news">

            <%= news %>

        </div>

    </section>

    <a class="link-create" href="/">
        <button class="btn-create">Cadastrar nova noticia</button>
    </a>

    
    <footer class="footer">
        <p>Developed by <a href="https://www.linkedin.com/in/vinicius-soaresdev" target="_blank">Vinicius Soares</a></p>
    </footer>
</body>
</html>