@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&family=Poppins:wght@100;200;300;400&display=swap');

:root {
    --font-main: 'Montserrat', sans-serif;
    --font-secundary: 'Poppins', sans-serif;
    --color-main: #0B2B40;
    --color-letter: #f0f8ff;

}

*, 
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background: var(--color-main);
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3em;

}

.header > h1 {
    font-family: var(--font-main);
    font-size: 3em;
    font-variant: small-caps;
    font-weight: bolder;
    color: #f0f8ff;
}

.header > p {
    font-family: var(--font-secundary);
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.main > .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #F2BE22;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 3em;
}

.main > .form > .tittle-form {
    text-align: center;
    font-family: var(--font-main);
    text-transform: uppercase;
    padding: 1em;
}

.main > .form > label {
    font-family: var(--font-secundary);
    color: var(--color-main);
    font-weight: bold;
    line-height: 3em;
}

.main > .form > input {
    font-size: 16px;
    font-size: max(16px, 1em);
    font-family: inherit;
    padding: 0.25em 0.5em;
    background-color: var(--color-letter);
    border: 2px solid var(--color-main);
    border-radius: 4px;
}

.main > .form > .btn-form {
    padding: 6px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
    font-family: var(--font-secundary);
    cursor: pointer;
    margin: 2em;
}

.main > .form > .btn-form:hover {
    background: var(--color-main);
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
    transition: 2s;
    color: var(--color-letter);
}

.main > .form > .link-form {
    text-decoration: none;
    font-family: var(--font-secundary);
    font-size: 0.9em;
    color: var(--color-main);
}

.main > .form > .link-form:hover {
    text-decoration: underline;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer > .footer-description {
    margin: 1.6em;
    font-family: var(--font-main);
}

.footer > .footer-description > .link-footer {
    text-decoration: none;
    font-family: var(--font-main);
    font-weight: bold;
    color: #F2BE22;
}

@media screen and (max-width: 375px) {
    .header > p {
        font-size: 0.6em;
    }

    .main > .form {
        padding: 1em;
    }
}

@media screen and (max-width: 330px) {
    .header > h1 {
        font-size: 1.7em;
        padding: 0em;
    }

    .main > .form {
        padding: 0em;

    }

    .main > .form > label {
        line-height: 1em;
    }

}

